@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import './styles/colors.css';

body {
  font-family: 'Inter', sans-serif;
  background: white;
  color: #2D2D2D;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}